@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: franieExtraBold;
    src: url(./assets/fonts/FRANIE-EXTRABOLD.OTF);
}

@font-face {
    font-family: franieRegular;
    src: url(./assets/fonts/FRANIE-REGULAR.OTF);
}

@font-face {
    font-family: franieSemiBold;
    src: url(./assets/fonts/FRANIE-SEMIBOLD.OTF);
}

@font-face {
    font-family: franieLight;
    src: url(./assets/fonts/FRANIE-LIGHT.OTF);
}

h2{
    font-family: franieSemiBold;
}

.font-franieLight{
    font-family: franieLight;
}

.font-franieSemiBold{
    font-family: franieSemiBold;
}

.font-franiExtraBold{
    font-family: franieExtraBold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F4F4F4;
    font-family: franieRegular;
    font-weight: 300;
    scroll-behavior: smooth;
}

html, body{
    background-image: linear-gradient( #004EBF, #00295B);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*ESTILIZAÇÃO SCROLL-BAR */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
background: #00c8ff;
border-radius: 8px;
}

/* FONT TITLE */
.font-tittle{
    font-family: franieExtraBold;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 100%;
}

.font-tittle2{
    font-family: franieExtraBold;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 100%;
}

@media (min-width:768px) {
    .font-tittle2{
        font-family: franieExtraBold;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 100%;
    }
}

@media (min-width:1440px) {
    .font-tittle{
        font-family: franieExtraBold;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 100%;
    }
}

/* BACKGROUNDS */
/*
.bg-section-one {
    background: url(./assets/images/backgrounds/bg-section-1.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-width: 1800px;
}

@media (min-width:768px) {
    .bg-section-one2 {
        background: url(./assets/images/backgrounds/bg-section-1.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}

.bg-section-two {
    background: url(./assets/images/backgrounds/testee.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70% 100%;
}

.bg-blur-left {
    background: url(./assets/images/backgrounds/bg-blur-left.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

@media (min-width:768px){
    .bg-blur-left {
        background: url(./assets/images/backgrounds/bg-blur-left.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 50% 100%;
    }
}

.bg-blur-top {
    background: url(./assets/images/backgrounds/blur-top.webp);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

@media (min-width:1024px) {
    .bg-sobre{
        background: url(./assets/images/backgrounds/bg-sobre.webp);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 60%;
    }
}

@media (min-width:1540px) {
    .bg-sobre{
        background: url(./assets/images/backgrounds/bg-sobre.webp);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 850px;
    }
}

@media (min-width:1540px) {
    .bg-sobre{
        background: url(./assets/images/backgrounds/bg-sobre.webp);
        background-repeat: no-repeat;
        background-position: top right;
    }
}
  
.bg-header-section {
    background: url(./assets/images/Home/header-section-1.svg);
    background-repeat: no-repeat;
    background-position: top;
    height: 400px;
    width: 100%;
    background-size: cover;
}
*/
.bg-saudeEmpreende, .bg-cameraHome{
    background-color: #0000008e;
    padding-bottom: 15px;
}

@media (min-width:1024px) {

    .bg-saudeEmpreende {
        padding-bottom: 0px;
        background: url(./assets/images/Home/SectionOne/bannerSE.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .bg-cameraHome {
        padding-bottom: 0px;
        background: url(./assets/images/Home/SectionOne/cameraHome.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }

}

.bg-services{
    background-image: url(./assets/images/backgrounds/logoSaude.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 95%;
    background-color: #fff;
}

@media screen and (min-width:768px){
    .bg-services{
        background-image: url(./assets/images/backgrounds/logoSaude.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 10% 50%;
        background-color: #fff;
    }
}

@media screen and (min-width: 1024px){
    .bg-services{
        background-image: url(./assets/images/backgrounds/logoSaude.png);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 10% 50%;
        background-color: #fff;
    }
}

@media screen and (min-width: 1650px){
    .bg-services{
        background-image: url(./assets/images/backgrounds/logoSaude.png);
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: 25% 50%;
        background-color: #fff;
    }
}

@media screen and (min-width: 2000px){
    .bg-services{
        background-image: url(./assets/images/backgrounds/logoSaude.png);
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: 30% 50%;
        background-color: #fff;
    }
}


  
.efeito-vidro {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.625);
    backdrop-filter: blur(7.5px);
}

@media (min-width:768px) {
    .shadow-botao{
        box-shadow: 0 0 30px 3px #760bff;
    }
}

.shadow-botao2:hover{
    box-shadow: 0 0 50px 10px #760bff;
}

.shadow-card:hover{
    box-shadow: 0 0 60px 20px #0fff9395;
}

.shadow-card img{
    scale: 1.25;
}

.shadow-card:hover img{
    scale: 1;
}
  
hr {
    background: radial-gradient(
      947.41% 35.45% at 53.65% 49.76%,
      #164671 0%,
      #5e04f0 58%,
      #4e24f2 66%,
      #2775f8 82%,
      #00c8ff 98%
    );
    height: 2px; /* Defina a altura da linha */
    border: none; /* Remova a borda padrão se necessário */
}

.slick-prev, .slick-next, .slick-dots{
    display: none !important;
}

.iluminado {
    background: transparent;
    transition: all 300ms linear;
}

.iluminado:hover {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%);
    transform: translateY(-100px);
}


.card-empresa:hover .button-card,.card-empresa:hover .button-card svg path{
    background-color: #fff !important;
    color: #000 !important;
    
}

button.botaoClose:hover svg path {
    color: red;
}


.bg-cursiva{
    background-image: url(./assets//images/Home/SectionTwo/bmouse-cursivo.webp);
    background-repeat: no-repeat;
    background-position: right center;
}

.casesAventuras{
    position: relative;
}

.casesAventuras .hoverAventuras {
    display: none;
}

.casesAventuras:hover .hoverAventuras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    background-color: #00305d51;
    backdrop-filter: blur(16px);
    border-radius: 15px;
}
